.contact{
    padding-top: 20px;
}

.heading{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.heading > img{
    width: 200px;
}

.para{
    width: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: rgba(198, 102, 102, 0.35) 0px 5px 15px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.icons > div{
    margin: 10px;
} 

.icons img:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.icons img{
    border-radius: 50%;
    width: 100px;
    box-shadow: rgba(7, 7, 7, 0.56) 0px 22px 70px 4px;
}