@media all and (min-width : 1024px){
    .home {
        height: 100%;
    }

    .home_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
    }

    .intro {
        width: 550px;
    }

    #profile>img {
        margin-top: 50px;
        margin-left: 80px;
        margin-right: 20px;
        border: 1px solid rgba(179, 131, 131);
        border-radius: 20px;
        width: 300px;
        box-shadow: rgb(240, 187, 187);
    }

    #profile>img:hover {
        transform: scale(1.1);
        transition: ease-in-out .5s;
    }

    .intro img {
        width: 100px;
        height: 100px;
    }

    .intro>div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .intro>p {
        font-size: x-large;
    }

    /* .typewriter {
        font-size: 50px;
        letter-spacing: 5px;
        border-right: 5px solid black;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(8), cursor .4s step-end infinite alternate;
    
    }
    
    @keyframes cursor {
        50% {
            border-color: transparent
        }
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    } */
}

@media all and (min-width : 768px) and (max-width : 1023px){
    .home {
        height: 100%;
        width: 100%;
    }

    .home_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

    .intro {
        width: 300px;
    }

    #profile>img {
        margin-top: 25px;
        margin-left: 40px;
        margin-right: 20px;
        border: 1px solid rgba(179, 131, 131);
        border-radius: 15px;
        width: 200px;
        box-shadow: rgb(240, 187, 187);
    }

    #profile>img:hover {
        transform: scale(1.1);
        transition: ease-in-out .5s;
    }

    .intro img {
        width: 50px;
        height: 50px;
    }

    .intro>div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .intro>p {
        font-size: large;
    }

    /* .typewriter {
        font-size: 50px;
        letter-spacing: 5px;
        border-right: 5px solid black;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(8), cursor .4s step-end infinite alternate;
    
    }
    
    @keyframes cursor {
        50% {
            border-color: transparent
        }
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    } */
}

@media all and (max-width : 767px){
    .home {
        height: 100%;
        width: 100%; 
    }

    .home_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

    .intro {
        width: 250px;
    }

    #profile>img {
        margin-top: 25px;
        margin-left: 40px;
        margin-right: 20px;
        border: 1px solid rgba(179, 131, 131);
        border-radius: 15px;
        width: 130px;
        box-shadow: rgb(240, 187, 187);
    }

    #profile>img:hover {
        transform: scale(1.1);
        transition: ease-in-out .5s;
    }

    .intro img {
        width: 45px;
        height: 45px;
    }

    .intro>div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .userDetailName{
        font-size: x-large;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .intro>p {
        font-size: large;
    }

    /* .intro>div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    } */

    /* .intro>p {
        font-size: large;
    } */

    /* .typewriter {
        font-size: 50px;
        letter-spacing: 5px;
        border-right: 5px solid black;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(8), cursor .4s step-end infinite alternate;
    
    }
    
    @keyframes cursor {
        50% {
            border-color: transparent
        }
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    } */
}