@media all and (min-width : 1024px){
    .projects{
        padding-top: 100px;
    }
    
    .heading {
        font-weight: bold;
        font-size: xx-large;
        /* font-family: cursive; */
        margin-bottom: 20px;
    }

    .catalouge {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-top: -30px; */
    }
    
    /* .catalouge div{
        margin: auto;
    } */
    
    .catalouge > div{
        margin: auto;
        margin-top: 10px;
        margin-bottom : 10px;
        width : 550px;
        padding: 20px;
        border: 1px solid rgb(179, 131, 131);
        border-radius: 10px;
        box-shadow: rgba(179, 131, 131) 0px 5px 15px;
    }
    
    .projectDesc{
        height: 130px;
        padding: 10px;
    }

    #singleProject{
        position: relative;
        padding-top: 10px;
        margin-bottom: 20px;
        height: 300px;
    } 
    
    #singleProject > img{
        position: absolute;
        width : 200px;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .first{
        left : 0px;
        opacity: 0.05;
    }
    .first:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1;
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .mid{
        border: .8px solid rgb(202, 110, 110);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        left: 30%;
        opacity: 1;
    }
    .mid:hover{
        border: .8px solid rgb(202, 110, 110);
        transform: scale(1.1);
        transition: ease .6s;
        opacity: 1; 
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .last{
        right : 0px;
        opacity: 0.05;
    }
    .last:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1; 
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .bottom_icons{
        width: 30px;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .bottom_icons:hover{
        transform: scale(1.1);
        transition: ease 0.5s;
    }
    
    .project-title{
       color: azure; 
    }

    .deployDesc{
        display: flex;
        justify-content: center;
    }

    .githubHead{
        font-weight: bold;
        /* font-style: cursive; */
        font-size: x-large;
        padding-top: 30px;
    }

    .github{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .github > *{
        margin: auto;
        padding-top: 20px;
    }
}

@media all and (min-width : 768px) and (max-width : 1023px){
    .projects{
        padding-top: 100px;
    }
    
    .heading {
        font-weight: bold;
        font-size: x-large;
        /* font-family: cursive; */
        margin-bottom: 20px;
    }

    .catalouge {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* .catalouge div{
        margin: auto;
        width: 90%;
        height: 300px;
    } */
    
    .catalouge > div{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width : 70%;
        padding: 20px;
        border: 1px solid rgb(179, 131, 131);
        border-radius: 10px;
        box-shadow: rgba(179, 131, 131) 0px 5px 15px;
    }
    
    .projectDesc{
        height: 100px;
        margin-top: 30px;
    }

    #singleProject{        
        position: relative;
        padding-top: 10px;
        margin-bottom: 20px;
        height: 300px;
    } 
    
    #singleProject > img{
        position: absolute;
        width : 200px;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .first{
        left : 0px;
        opacity: 0.05;
    }
    .first:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1;
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .mid{
        border: .8px solid rgb(202, 110, 110);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        left: 30%;
        opacity: 1;
    }
    .mid:hover{
        border: .8px solid rgb(202, 110, 110);
        transform: scale(1.1);
        transition: ease .6s;
        opacity: 1; 
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .last{
        right : 0px;
        opacity: 0.05;
    }
    .last:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1; 
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .bottom_icons{
        width: 30px;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .bottom_icons:hover{
        transform: scale(1.1);
        transition: ease 0.5s;
    }
    
    .project-title{
       color: azure; 
    }

    .deployDesc{
        display: flex;
        justify-content: center;
    }

    .githubHead{
        font-weight: bold;
        /* font-style: cursive; */
        font-size: x-large;
        padding-top: 30px;
    }

    .github{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .github > *{
        margin: auto;
        padding-top: 20px;
        width: 95%;
        height: 75%;
    }
}

@media all and (max-width : 767px){
    .projects{
        padding-top: 70px;
    }
    
    .heading {
        font-weight: bold;
        font-size: large;
        /* font-family: cursive; */
        margin-bottom: 20px;
    }

    .catalouge {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* .catalouge div{
        margin: auto;
        width: 90%;
        height: 250px;
    } */
    
    .catalouge > div{
        width : 350px;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px;
        border: 1px solid rgb(179, 131, 131);
        border-radius: 10px;
        box-shadow: rgba(179, 131, 131) 0px 5px 15px;
    }
    
    #singleProject{
        position: relative;
        padding: 10px;
        margin-bottom: 10px;
        height: 200px;
    } 
    
    #singleProject > img{
        position: absolute;
        width : 120px;
        height: 90%;
        border-radius: 10px;
        overflow: hidden;
    }

    /* .projectDesc{
        height: 150px;
    } */

    .first{
        left : 0px;
        opacity: 0.05;
    }
    .first:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1;
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .mid{
        border: .8px solid rgb(202, 110, 110);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        left: 30%;
        opacity: 1;
    }
    .mid:hover{
        border: .8px solid rgb(202, 110, 110);
        transform: scale(1.1);
        transition: ease .6s;
        opacity: 1; 
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .last{
        right : 0px;
        opacity: 0.05;
    }
    .last:hover{
        border: .8px solid rgb(202, 110, 110);
        opacity: 1; 
        transform: scale(1.1);
        transition: ease .6s;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    
    .bottom_icons{
        width: 30px;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .bottom_icons:hover{
        transform: scale(1.1);
        transition: ease 0.5s;
    }
    
    .project-title{
       color: azure; 
    }

    .deployDesc{
        display: flex;
        justify-content: center;
    }

    .githubHead{
        font-weight: bold;
        /* font-style: cursive; */
        font-size: large;
        padding-top: 30px;
    }

    .github{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .github > *{
        margin: auto;
        padding-top: 20px;
        width: 98%;
        height: 75%;
    }

}